/script
/package
/.git
/.vscode
.gitattributes
.gitignore
.gitmodules
.npmignore
.prettierrc
yarn.lock
nexusapp-luminati-proxy-*.tgz

!/vendor

# Ignore vendor junk
vendor/luminati-io/luminati-proxy/bin/pub/**/*
vendor/luminati-io/luminati-proxy/bin/*.sh
vendor/luminati-io/luminati-proxy/build/*
vendor/luminati-io/luminati-proxy/test/*
vendor/luminati-io/luminati-proxy/www/
vendor/luminati-io/luminati-proxy/scripts/*
vendor/luminati-io/luminati-proxy/src/pub/*
vendor/luminati-io/luminati-proxy/{.git,.babelrc,.npmrc,.travis.yml,appveyor.yml,Dockerfile,publish_cn.js,publish_validate.js,webpack.config.js,README*,CHANGELOG*}
